* {
  box-sizing: border-box;
}

* {
  font-family: monospace;
  font-size: 1rem;
  line-height: 1.5;
  background-color: LemonChiffon;
}

h1,
h2 {
  line-height: 1.2px;
}

h1 {
  background-color: white;
  margin-top: 0px;
  padding: 10px;
  text-align: center;
}

.title {
  font-size: 30px;
}

/* ------- Sections ------- */

/* Task 5: Our page consists of two sections containing information about why Pokémon are cool and what the favorite Pokémon are. Let's style these sections:

- Set a white background for our sections
- Add padding of 20px and margin of 10px
- A fancy add on: Add a solid 5px border with the color "orange" that is only visible on the left. Hint: Use "border-left". :)
- Bonus:  The left border of the second section, which contains a list of favorite Pokémon, should have the color "gold". Hint: You may need a second CSS rule.
*/

section {
  background-color: white;
  padding: 20px;
  border-left: orange solid;
}

.favourites {
  border-left: gold solid;
}
/* ------- Headings Part 2 ------- */

/* Task 6: The headings of our sections somehow look boring. Therefore, we want to change this:

- Add a border to the left and the right of the title only. The border should be 3px solid with the color "gold".
- There should be some space between the text and the border.
- The right border should end with the last character of the title. Hint: If you don't know how to do this, think about the display property.
- Bonus: The border color of the "Favorite Pokémon" title should be "orange". Hint: You may need another CSS rule.
*/

.subtitle {
  border-left: solid 3px gold;
  border-right: solid 3px gold;
  padding: 10px;
}

.fav_sub {
  border-left: orange solid 3px;
  border-right: orange solid 3px;
  padding: 10px;
}

/* ------- List ------- */

/* Task 7: Finally, let's style our list with of favorite Pokémon. Which selector do we need? Also, add values for padding. */

/* Add selector */
li {
  list-style: "🧡";
  padding-left: 10px;
}

/* Add selector */
li {
  padding-left: 10px;
}

/* ------- The End -------- */

.image-fluid {
  width: 100%;
  height: auto;
}

/* Note: After finishing all tasks, this class should also work. The image should adjust its size flexibly according to the width of the viewport. */
